.booking{
    padding: 0 15%;
}
.booking input{
    width: 100%;
    height: 50px;
    padding: 0 5%;
    margin-bottom: 30px;
}
.books{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f4f4f4;
    margin-block:70px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.sub {
   background-color: #000;
   color: #f4f4f4;
}