.about-hero {

    padding: 0 10%;
    /* height: 70vh; */
    background-image: url(./images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 33px;
}

@keyframes bounceAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);

    }

    100% {
        transform: translateY(0);
    }
}


.about-hero-image img {
    animation-name: bounceAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.menu-food{
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.menu-food:hover{
    transform: scale(1.05);
}
.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-menu{
    background-color: #000;
    color: #f4f4f4;
    padding: 15px 45px;
    text-decoration: none;
}
.order-menu:hover{
    font-weight: 900;
    color: #f4f4f4;

}